In [1]:
import numpy as np

In [2]:
# Creating a one dimensional 1-D numpy array

myarr = np.array([1, 2, 3, 4])

In [3]:
myarr

array([1, 2, 3, 4])

In [4]:
# Creating and assigning datatype to an array
# 1. int8

myarr = np.array([1, 2, 3], dtype = np.int8)

In [5]:
myarr

array([1, 2, 3], dtype=int8)

In [6]:
# 2. int32 

myarr = np.array([1, 2, 3], dtype = np.int32)

In [7]:
myarr

array([1, 2, 3])

In [8]:
# 3. int64

myarr = np.array([1, 2, 3], dtype = np.int64)

In [9]:
myarr

array([1, 2, 3], dtype=int64)

In [10]:
# Accessing Elements

myarr[0]

1

In [11]:
# using slicing

myarr[0:2]

array([1, 2], dtype=int64)

In [12]:
# Creating multi-dimensional / 2-D Array

myarr = np.array([ [1, 2, 3] ], dtype= np.int64)

In [13]:
myarr

array([[1, 2, 3]], dtype=int64)

In [14]:
# Accessing elements in 2-D array

myarr[0][0]

1

In [15]:
# Shape of an array

myarr.shape # (1, 3) -- > 1 row, 3 columns

(1, 3)

In [17]:
# Datatype of an array

myarr.dtype

dtype('int64')

In [18]:
myarr

array([[1, 2, 3]], dtype=int64)

In [19]:
# Setting values in numpy array

myarr[0][1] = 26

In [20]:
myarr # Value changed

array([[ 1, 26,  3]], dtype=int64)

In [21]:
# converting a python list to numpy array

List = [11, 22, 33]
myarr = np.array(List)

In [22]:
myarr

array([11, 22, 33])

In [23]:
# size of an array

myarr.size

3

In [24]:
# converting sets to numpy array
# data type of an resultant array will be object --> But Object datatype is not efficient

myarr = np.array({22, 33, 44})

In [27]:
myarr

array({33, 44, 22}, dtype=object)

In [31]:
# Creating zeros array 
# By default its data type is float 64

zeros = np.zeros((2, 4)) # shape is passed as an argument

In [32]:
zeros

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [33]:
zeros.dtype

dtype('float64')

In [36]:
# Creating integer zeros array

zeros = np.zeros((2, 4), dtype = np.int32)

In [37]:
zeros

array([[0, 0, 0, 0],
       [0, 0, 0, 0]])

In [40]:
# Shape of an zeros array

zeros.shape

(2, 4)

In [44]:
# numpy array from arange

rng = np.arange(15)

In [45]:
# return type will be an numpy array from 0 to end - 1
rng

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [46]:
# Array of start to end -1

rng = np.arange(1, 15)

In [47]:
rng

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [48]:
# Creating a linerarly space elements ---> distance between each element is same

# np.linspace( start, end, number_Of_Elements)

lin = np.linspace(1, 5, 10)

In [49]:
lin

array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
       3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ])

In [50]:
# Creating an empty array containing random values or zero values so that you can assign each value according to your needs

emp = np.empty((2, 3))

In [51]:
emp

array([[0., 0., 0.],
       [0., 0., 0.]])

In [52]:
# empty_like will take another array as an argument and take its shape

emp_like = np.empty_like(lin)

In [53]:
emp_like

array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
       3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ])

In [54]:
# Creating an identity matrix

ide = np.identity(5) # takes N for creating N X N matrix

In [55]:
ide

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [56]:
ide.shape

(5, 5)

In [57]:
# Reshaping an array

# Note --> New (N, M) multiplication should be equal to number of elements

myarr = np.arange(99)

In [58]:
myarr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [59]:
# reshaping myarr

myarr.reshape(3, 33) # 3 X 33 == 99

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32],
       [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
        49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
        65],
       [66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98]])

In [60]:
# Creating 1-D array from multidimensional array

myarr.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [61]:
# axis - 0 ---> row wise
# axis - 1 --> column wise

x = [ [1, 2, 3], [4, 5, 6], [7, 1, 0]]
myarr = np.array(x)

In [62]:
myarr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [63]:
myarr.sum(axis = 0)

array([12,  8,  9])

In [64]:
myarr.sum(axis = 1)

array([ 6, 15,  8])

In [65]:
# Transposing the array

myarr.T

array([[1, 4, 7],
       [2, 5, 1],
       [3, 6, 0]])

In [67]:
# Getting each element one by one from a 1-D / N-D array
# return type ---> iterable

myarr.flat

In [68]:
for i in myarr.flat:
    print(i, end=" ")

1 2 3 4 5 6 7 1 0

In [69]:
# Getting number of dimensions from a numpy array

myarr.ndim

2

In [70]:
# size of an array

myarr.size

9

In [71]:
# How much bytes array is consuming

myarr.nbytes

36

In [80]:
myarr = np.array([91, 102, 33, 4])

In [81]:
# Maximum element index ---> suitable for 1-D array

myarr.argmax()

1

In [82]:
# Minimum element index

myarr.argmin()

3

In [83]:
# getting sorting order indices

myarr.argsort()

array([3, 2, 0, 1], dtype=int64)

In [84]:
# argmin, argmax, argsort ---> will run on multi- dimensional array without giving any error
# As it first convert the array in 1-D then return the indices

# these functions accept axis as a argument too

In [85]:
arr1 = np.array([[1, 2, 3], [4, 5, 6]])

In [86]:
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [87]:
arr2 = np.array([[3, 2, 1], [6, 5, 4]])

In [88]:
arr2

array([[3, 2, 1],
       [6, 5, 4]])

In [89]:
# summing two arrays element wise

arr1 + arr2

array([[ 4,  4,  4],
       [10, 10, 10]])

In [90]:
# multiplying two arrays element wise

arr1 * arr2

array([[ 3,  4,  3],
       [24, 25, 24]])

In [91]:
# element wise square root

np.sqrt(arr1)

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974]])

In [92]:
# max of an array

arr1.max()

6

In [94]:
# min of an array

arr1.min()

1

In [95]:
# sum of an array

arr1.sum()

21

In [99]:
# getting indices according to the condition

np.where(arr1 > 5)

(array([1], dtype=int64), array([2], dtype=int64))

In [97]:
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [100]:
# counting non zero elements

np.count_nonzero(arr1)

6

In [102]:
# non - zero value indices

np.nonzero(arr1)

(array([0, 0, 0, 1, 1, 1], dtype=int64),
 array([0, 1, 2, 0, 1, 2], dtype=int64))